html {
  font-family: $main-font;
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $bg-color-light;
  color: $txt-color-light;
  font-size: 18px;

  // @media (max-width: $sm-break-point) {
  //   font-size: 18px;
  // }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.2em 0;
  // color: $title-black;
}

h1 {
  font-size: 3rem;
}

p {
  line-height: 1.5em;
}

a {
  @include accent-for('border-bottom-color');
  color: inherit;
  text-decoration: none;
  border-bottom-width: 2.5px;
  border-bottom-style: solid;
}

input, button {
  background-color: rgb(213, 215, 219);
  color: rgba(26, 26, 26, 0.795);
  border-radius: 5px;
  border: none;
  min-height: 2em;
  margin: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
}

// dark mode
// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: $bg-color-dark;
//     color: $txt-color-dark;
//   }

//   input, button {
//     background-color: #3A3A3A;
//     color: rgba(255, 255, 255, 0.6);
//   }
// }

// vuepress specific

svg.icon.outbound {
  display: none;
}

// styling for inline code 

p > code, li > code {
  background-color: rgba(167, 167, 167, 0.12);
  // color: #353535;
  padding: .25rem .5rem;
  border-radius: 3px;
}

// styling for custom containers (warning, tip, danger)
.custom-block {
  $textColor: #2c3e50;
  font-size: 0.9em;

  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }
  &.tip, &.warning, &.danger {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
  }
  &.tip {
    background-color: #f3f5f7;
    border-color: #5989c8;
  }
  &.warning {
    background-color: rgba(255,229,100,.3);
    border-color: darken(#ffe564, 35%);
    color: darken(#ffe564, 70%);
    .custom-block-title {
      color: darken(#ffe564, 50%);
    }
    a {
      color: $textColor;
    }
  }
  &.danger {
    background-color: #ffe6e6;
    border-color: darken(red, 20%);
    color: darken(red, 70%);
    .custom-block-title {
      color: darken(red, 40%);
    }
    a {
      color: $textColor;
    }
  }
}

// prism

@import "./external/prism-dragula.css";
