$sm-break-point: 600px;
$md-break-point: 990px;

$bg-black: black;
$bg-white: white;
$txt-black: #202020;
$title-black: #111111;

$black: #000000;
$prim-gold: #E4791B;
$prim-orange: #EE4B11;
$prim-red: #E12F2F;